.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #1976d2;
  color: white;
}

td, th {
  padding: 10px;
  border: 1px solid #ccc;
}
